# Supabase
SUPABASE_URL=https://SEU_PROJECT_ID.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# AI
FAL_KEY=
GOOGLE_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PORTAL_RETURN_URL=https://admin.allbele.app/super

# App
APP_BASE_DOMAIN=allbele.app
